* {
  font-family: 'Lucida Grande', sans-serif;
  letter-spacing: normal;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ecebf1;
}

.header {
  background-color: #395A93;
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.logo {
  margin-left: 10em;
  margin-right: 0.5em;
  width: 14%;
}

.create_account {
  background-color: #42B72A;
  color: white;
  border: 0px;
  padding: 0.75em 1em;
  font-size: 0.75rem;
  border-radius: 3px;
  margin-left: 0.5em;
}

.create_account:hover {
  background-color: #36A421;
  cursor: pointer;
}

.connection_window {
  background-color: white;
  width: 600px;
  height: 420px;
  margin: auto;
  margin-top: 5em;
  border-radius: 5px;
  border: 0.5px solid #E5E9F2;
  text-align: center;
}

.connect_message {
  margin-top: 2.5em;
  margin-bottom: 1.5em;
  font-size: 1.1rem;
}

.connection_form p input {
  height: 35px;
  width: 280px;
  border: 1px solid #E5E9F2;
  font-size: 0.8rem;
  padding-left: 0.7em;
}

#connection_button {
  background-color: #4266B2;
  color: white;
  height: 45px;
  width: 290px;
  border: 0px;
  border-radius: 3px;
  font-size: 0.85rem;
  padding: 0;
}

#connection_button:hover {
  background-color: #3b5b94;
  cursor: pointer;
}

.forgot_info {
  font-size: 0.725rem;
  margin: 1.4em auto;
}

.forgot_info a {
  text-decoration: none;
  color: #3b5b94;
}

.forgot_info a:hover {
  text-decoration: underline;
}

.options {
  border-top: 1px solid #CCD0D6;
  width: 290px;
  height: 10px;
  margin: 2em auto 1em auto;
  position: relative;
  padding: 0;

}

.options p {
  background-color: white;
  position: absolute;
  padding: 0em 0.725em;
  top: -26px;
  left: 125px;
  font-size: 0.9rem;
}

#bottom_button {
  font-size: 0.9rem;
  padding: 1em 2em;
  margin: 0;
}
